<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div id="heading">Notes:-</div>
    <div style="margin-left: 20px;font-size: 40px;">
        content:-
    </div>
    <div style="display: flex;justify-content: center;align-items: center; font-size: 30px;margin-top: 40px;margin-left: 30px;margin-right: 30px;">
            <%= data %>
    </div>
</body>
</html>